{% extends 'base_login.html' %}
{% load static %}
{% load widget_tweaks %}

{% block content %}
    <div class="row">
        <div class="col-md-4 col-sm-6 col-md-offset-4 col-sm-offset-3">
            <form method="POST" action=".">
                {% csrf_token %}
                <div class="card card-login card-hidden">
                    <div class="card-header text-center" data-background-color="rose">
                        <h4 class="card-title">Login</h4>
                    </div>
                    {% if form.errors %}
                        <div class="alert text-sm-left" role="alert">
                            <div class="card-content" style="color: red">
                                {% for field in form %}
                                    {% for error in field.errors %}
                                        {{ error }}
                                    {% endfor %}
                                {% endfor %}
                                {% for error in form.non_field_errors %}
                                    {{ error }}
                                {% endfor %}
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span style="color: red" aria-hidden="true">X</span>
                                </button>
                            </div>
                        </div>
                    {% endif %}
                    <div class="card-content">
                        <p class="category text-center">su contraseña se ha reestablecido correctamente!!</p>
                    </div>
                    <br>
                    <div class="footer text-center">
                        <div class="text-center"><a href="{% url 'login' %}">Iniciar Sesión</a></div>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}