{% extends 'list.html' %}
{% load static %}

{% block head_list %}

    <script src="{% static 'list_maintenance.js' %}"></script>

{% endblock %}

{% block card_title %}

    <div class="card-header card-header-icon" data-background-color="rose">
        <i class="material-icons">list</i>
    </div>

{% endblock %}

{% block columns %}
    <th class="text-md-center" style="width:12%; font-weight: 600">N°</th>
    <th class="text-md-center" style="width:34%; font-weight: 600">Equipo</th>
    <th class="text-md-center" style="width:10%; font-weight: 600">Fecha</th>
    <th class="text-md-center" style="width:10%; font-weight: 600">Tipo</th>
    <th class="text-md-center" style="width:24%; font-weight: 600">Realizado por</th>
    <th class="text-md-center" style="width:10%; font-weight: 600">Acciones</th>
{% endblock %}

{% block rows %}

{% endblock %}

{% block javascript %}


{% endblock %}