{% load static %}

<div class="sidebar" data-active-color="rose" data-background-color="black"
     data-image="https://static-files-apps.s3.sa-east-1.amazonaws.com/hozen/sidebar-1.jpg">
    <!--
Tip 1: You can change the color of active element of the sidebar using: data-active-color="purple | blue | green | orange | red | rose"
Tip 2: you can also add an image using data-image tag
Tip 3: you can change the color of the sidebar with data-background-color="white | black"
-->
    <div class="logo">
        <a href="#" class="simple-text">
            <img src="https://static-files-apps.s3.sa-east-1.amazonaws.com/hozen/hozen.png" alt="logo_hozen" width="220">
        </a>
    </div>
    <div class="logo logo-mini">
        <a href="https://cieltechno.com" class="simple-text">
            HM
        </a>
    </div>
    <div class="sidebar-wrapper">
        <div class="user">
            <div class="info">
                <a data-toggle="collapse" href="#collapseExample" class="collapsed">
                    {{ request.user.get_full_name }}
                    <b class="caret"></b>
                </a>
                <div class="collapse" id="collapseExample">
                    <ul class="nav">
                        <li>
                            <a href="{% url 'user:user_profile' request.user.id %}">Mi Perfil</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <ul class="nav">

            {% url 'start:start' as start %}

            <li class="{% if start in request.path %} active {% endif %}">
                <a href="{% url 'start:start' %}">
                    <i class="material-icons">home</i>
                    <p>Inicio</p>
                </a>
            </li>

            {% url 'equipment:create_equipment' as create_equipment %}
            {% url 'equipment:list_equipment' as list_equipment %}

            <li class="{% if create_equipment in request.path or list_equipment in request.path %} active {% endif %}">
                <a data-toggle="collapse" href="#equipment">
                    <i class="material-icons">precision_manufacturing</i>
                    <p>Gestión de Equipos<b class="caret"></b></p>
                </a>
                <div class="{% if create_equipment in request.path or list_equipment in request.path %} collapse in {% else %} collapse {% endif %}"
                     id="equipment">
                    <ul class="nav">
                        <li class="{% if list_equipment in request.path %} active {% endif %}">
                            <a href="{% url 'equipment:list_equipment' %}">Equipos</a>
                        </li>
                    </ul>
                </div>
            </li>


            {% url 'maintenance:create_maintenance' as create_maintenance %}
            {% url 'maintenance:list_maintenance' as list_maintenance %}

            <li class="{% if create_maintenance in request.path or list_maintenance in request.path %} active {% endif %}">
                <a data-toggle="collapse" href="#maintenance">
                    <i class="material-icons">engineering</i>
                    <p>Mantenimiento
                        <b class="caret"></b>
                    </p>
                </a>
                <div class="{% if create_maintenance in request.path or list_maintenance in request.path %} collapse in {% else %} collapse {% endif %}"
                     id="maintenance">
                    <ul class="nav">
                        <li class="{% if list_maintenance in request.path %} active {% endif %}">
                            <a href="{% url 'maintenance:list_maintenance' %}">Mantenimientos</a>
                        </li>
                    </ul>
                </div>
            </li>


            {% url 'calibration:create_calibration' as create_calibration %}
            {% url 'calibration:list_calibration' as list_calibration %}

            <li class="{% if create_calibration in request.path or list_calibration in request.path %} active {% endif %}">
                <a data-toggle="collapse" href="#calibration">
                    <i class="material-icons">speed</i>
                    <p>Calibración
                        <b class="caret"></b>
                    </p>
                </a>
                <div class="{% if create_calibration in request.path or list_calibration in request.path %} collapse in {% else %} collapse {% endif %}"
                     id="calibration">
                    <ul class="nav">
                        <li class="{% if create_calibration in request.path or list_calibration in request.path %} active {% endif %}">
                            <a href="{% url 'calibration:list_calibration' %}">Calibraciones</a>
                        </li>
                    </ul>
                </div>
            </li>


            {% url 'user:user_create' as create_user %}
            {% url 'user:user_list' as list_user %}

            <li class="{% if create_user in request.path or list_user in request.path %} active {% endif %}">
                <a data-toggle="collapse" href="#users">
                    <i class="material-icons">manage_accounts</i>
                    <p>Gestión de Usuarios
                        <b class="caret"></b>
                    </p>
                </a>
                <div class="{% if create_user in request.path or list_user in request.path %} collapse in {% else %} collapse {% endif %}"
                     id="users">
                    <ul class="nav">
                        <li class="{% if create_user in request.path or list_user in request.path %} active {% endif %}">
                            <a href="{% url 'user:user_list' %}">Usuarios</a>
                        </li>
                    </ul>
                </div>
            </li>
        </ul>
    </div>
</div>