{% extends 'body.html' %}
{% load static %}


{% block head %}

    <script src="{% static 'lib/material-dashboard-pro-html-v1.1.0/assets/js/jquery-3.1.1.min.js' %}"></script>
    <script src="{% static 'lib/material-dashboard-pro-html-v1.1.0/assets/js/material.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'lib/material-dashboard-pro-html-v1.1.0/assets/js/moment.min.js' %}"></script>
    <script src="{% static 'lib/moment-es/es.js' %}"></script>
    <script src="{% static 'lib/material-dashboard-pro-html-v1.1.0/assets/js/bootstrap-datetimepicker.js' %}">
    </script><link href="{% static 'lib/select2-4.1.0/dist/css/material-plugins.min.css' %}" rel="stylesheet">

{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-{{ div }}">
            <div class="card">
                <div class="card-header card-header-icon" data-background-color="rose">
                    <i class="material-icons">
                        {% if action == 'add' %}
                            add_box
                        {% else %}
                            edit_box
                        {% endif %}
                    </i>
                </div>
                <div class="card-content">
                    <h4 class="card-title">{{ entity }}{% if action == 'edit' %} {{ maintenance.maintenance_number }}{% endif %}</h4>
                    <form enctype="multipart/form-data" method="post" action="" class="form-horizontal">
                        <input type="hidden" name="action" value="{{ action }}">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-md-6">
                                <label for="id_description_equipment">Descripción del Equipo</label>
                                <select name="description_equipment" id="id_description_equipment" style="width: 100%">
                                    <option value="{{ maintenance.equipment_id }}" selected>{{ maintenance.equipment.code }} {{ maintenance.equipment.description }} {{ maintenance.equipment.maker }}{% if action == 'edit' %}, serial: {% endif %}{{ maintenance.equipment.serial }}</option>
                                    {% for eq in equipment %}
                                        <option value="{{ eq.id }}">{{ eq.description }} {{ eq.mark }} modelo: {{ eq.model }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group label-floating">
                                    <label for="id_serial" class="control-label">N° Serial</label>
                                        {{ form.serial }}
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group label-floating">
                                    <label for="id_date_manufactured" class="control-label">Fecha de Fabricación</label>
                                        {{ form.date_manufactured }}
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group label-floating">
                                    <label for="id_date_entry" class="control-label">Fecha de Ingreso</label>
                                        {{ form.date_entry }}
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group label-floating">
                                    <label for="id_frequency_maintenance" class="control-label">Frecuencia de Mantenimiento</label>
                                        {{ form.frequency_maintenance }}
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group label-floating">
                                    <label for="id_location" class="control-label">Ubicación</label>
                                        {{ form.location }}
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group label-floating">
                                    <label for="id_fix_active" class="control-label">Activo Fijo</label>
                                        {{ form.fix_active }}
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group label-floating">
                                    <label for="id_fregister_regulatory" class="control-label">Registro Sanitario</label>
                                        {{ form.register_regulatory }}
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group label-floating">
                                    <label for="id_useful_life" class="control-label">Vida Útil</label>
                                        {{ form.useful_life }}
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group label-floating">
                                    <label for="id_risk_classification" class="control-label">Clasificación de Riesgo</label>
                                    <select id="id_risk_classification" name="risk_classification" class="selectpicker" data-style="select-with-transition" title="Seleccionar" data-size="7">
                                        <option value="{{ equip.risk_classification }}" selected>{{ equip.risk_classification }}</option>
                                        <option value="Clase I, Riesgo Bajo">Clase I, Riesgo Bajo</option>
                                        <option value="Clase IIa, Riesgo Moderado">Clase IIa, Riesgo Moderado</option>
                                        <option value="Clase IIb, Riesgo Alto">Clase IIb, Riesgo Alto</option>
                                        <option value="Clase III, Riesgo Muy Alto">Clase IIb, Riesgo Alto</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group label-floating">
                                    <label for="id_acquisition" class="control-label">Adquisición</label>
                                    <select id="id_acquisition" name="acquisition" class="selectpicker" data-style="select-with-transition" title="Seleccionar" data-size="7">
                                        <option value="{{ equip.acquisition }}" selected>{{ equip.acquisition }}</option>
                                        <option value="Propio">Propio</option>
                                        <option value="Comodato">Comodato</option>
                                        <option value="Alquiler">Alquiler</option>
                                        <option value="Préstamo">Préstamo</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group label-floating">
                                    <label for="id_calibration" class="control-label">Calibración</label>
                                    <select id="id_calibration" name="calibration" class="selectpicker" data-style="select-with-transition" title="Seleccionar" data-size="7">
                                        <option value="{{ equip.calibration }}" selected>{{ equip.calibration }}</option>
                                        <option value="True">Si</option>
                                        <option value="False">No</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group label-floating">
                                    <label for="id_frequency_calibration" class="control-label">Frecuencia de Calibración</label>
                                        {{ form.frequency_calibration }}
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <div class="fileinput fileinput-new text-center" data-provides='fileinput'>
                                <div class="fileinput-preview fileinput-exists thumbnail"></div>
                                <div>
                                    <span class="btn btn-rose btn-round btn-file">
                                        <span class="fileinput-new">Manual de Fabricante</span>
                                        <span class="fileinput-exists">Cambiar</span>
                                        {{ form.manufacturer_manual }}
                                    </span>
                                    <a href="#" class="btn btn-danger btn-round fileinput-exists"
                                       data-dismiss="fileinput"><i class="fa fa-times"></i> Eliminar</a>
                                </div>
                            </div>
                           </div>
                            <div class="col-md-3">
                                <div class="fileinput fileinput-new text-center" data-provides='fileinput'>
                                <div class="fileinput-preview fileinput-exists thumbnail"></div>
                                <div>
                                    <span class="btn btn-rose btn-round btn-file">
                                        <span class="fileinput-new">Documentos Anexos de Fabricante</span>
                                        <span class="fileinput-exists">Cambiar</span>
                                        {{ form.manufacturer_docs }}
                                    </span>
                                    <a href="#" class="btn btn-danger btn-round fileinput-exists"
                                       data-dismiss="fileinput"><i class="fa fa-times"></i> Eliminar</a>
                                </div>
                            </div>
                            </div>
                            <div class="col-md-3">
                                <div class="fileinput fileinput-new text-center" data-provides='fileinput'>
                                <div class="fileinput-preview fileinput-exists thumbnail"></div>
                                <div>
                                    <span class="btn btn-rose btn-round btn-file">
                                        <span class="fileinput-new">Imagen del Equipo</span>
                                        <span class="fileinput-exists">Cambiar</span>
                                        {{ form.photo_equipment }}
                                    </span>
                                    <a href="#" class="btn btn-danger btn-round fileinput-exists"
                                       data-dismiss="fileinput"><i class="fa fa-times"></i> Eliminar</a>
                                </div>
                            </div>
                            </div>
                        </div>
                        <div class="card-footer text-center">
                                <button type="submit" class="btn btn-success">
                                    <i class="material-icons">check</i>
                                    Guardar
                                </button>
                                <a href="{{ list_url }}" class="btn btn-danger btn-fill">
                                    <i class="material-icons">close</i>
                                    Cancelar
                                </a>
                            </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript">

        $('form').on('submit', function (e) {
            e.preventDefault();
            var parameters = new FormData(this);
            $.ajax({
                url: window.location.pathname,
                type: 'POST',
                data: parameters,
                dataType: 'json',
                processData: false,
                contentType: false,
            }).done(function (data) {
                console.log(data);
                if (!data.hasOwnProperty('error')) {
                    location.href = '{{ list_url }}';
                    return false;
                }
                message_error(data.error);
            }).fail(function (jqXHR, textStatus, errorThrown) {
                alert(textStatus + ': ' + errorThrown);
            }).always(function (data) {
            });
        });

        $('#date_manufactured').datetimepicker({
            format: 'YYYY-MM-DD',
            locale: 'es',
            defaultDate: $('.date_manufactured'),
            icons: {
                time: "fa fa-clock-o",
                date: "fa fa-calendar",
                up: "fa fa-chevron-up",
                down: "fa fa-chevron-down",
                previous: 'fa fa-chevron-left',
                next: 'fa fa-chevron-right',
                today: 'fa fa-screenshot',
                clear: 'fa fa-trash',
                close: 'fa fa-remove',
            },
        });

        $('#date_entry').datetimepicker({
            format: 'YYYY-MM-DD',
            locale: 'es',
            defaultDate: $('.date_entry'),
            icons: {
                time: "fa fa-clock-o",
                date: "fa fa-calendar",
                up: "fa fa-chevron-up",
                down: "fa fa-chevron-down",
                previous: 'fa fa-chevron-left',
                next: 'fa fa-chevron-right',
                today: 'fa fa-screenshot',
                clear: 'fa fa-trash',
                close: 'fa fa-remove',
            },
        });

        $(document).ready(function () {
            $('#id_description_equipment').select2({
                theme: "material",
                language: 'es',
                placeholder: 'Buscar',
            })
        });

    </script>
{% endblock %}