{% extends 'header_pdf.html' %}

{% block content_pdf %}

    <div class="card">
        <h5 style="margin: 0; display: inline-block">CÓDIGO EQUIPO: <b style="color: red"> {{ equipment.code }}</b>
        </h5>&nbsp&nbsp
        <h5 style="margin: 0; display: inline-block">DESCRIPCIÓN:<b style="color: red"> {{ equipment.description }}</b></h5>
        &nbsp&nbsp
        <h5 style="margin: 0; display: inline-block">ESTADO:<b style="color: red">
            {% if equipment.status == True %} En Servicio {% else %} Fuera de Servicio {% endif %}</b>
        </h5>&nbsp&nbsp
    </div>
    <table class="tabContent" style="border-radius: 15px">
        <tr style="border-bottom: none">
            <th style="border: none"><b>Fabricante: </b></th>
            <th style="border: none"><b>Serial: </b></th>
            <th style="border: none"><b>Fecha de Fabricación: </b></th>
            <th style="border: none"><b>Tiempo de Uso: </b></th>
        </tr>
        <tr style="border-top: none; border-bottom: none">
            <td style="border: none">{{ equipment.maker }}</td>
            <td style="border: none">{{ equipment.serial }}</td>
            <td style="border: none">{{ equipment.date_manufactured }}</td>
            <td style="border: none">{{ equipment.use_time }} años</td>
        </tr>
        <tr style="border-bottom: none; border-top: none">
            <th style="border: none"><b>Fecha de Ingreso:</b></th>
            <th style="border: none"><b>Frecuencia de Mantenimiento:</b></th>
            <th style="border: none"><b>Ubicación:</b></th>
            <th style="border: none"><b>Activo Fijo:</b></th>
        </tr>
        <tr style="border-top: none; border-bottom: none">
            <td style="border: none">{{ equipment.date_entry }}</td>
            <td style="border: none">Cada {{ equipment.frequency_maintenance }} meses</td>
            <td style="border: none">{{ equipment.location }}</td>
            <td style="border: none; text-align: justify">{{ equipment.fix_active }}</td>
        </tr>
        <tr style="border-top: none; border-bottom: none">
            <th style="border: none"><b>Requiere Calibración:</b></th>
            {% if equipment.calibration == True %}
                <th style="border: none"><b>Frecuencia de Calibración:</b></th>
            {% endif %}
        </tr>
        <tr style="border-top: none">
            <td style="border: none">{% if equipment.calibration == True %} Si {% else%} No {% endif %}</td>
            <td style="border: none">{% if equipment.calibration == True %} Cada {{ equipment.frequency_calibration }} meses {% endif %}</td>
        </tr>
    </table>
    <br>

    {% if maintenance_count > 0 %}
        <div class="card">
            <h5 style="margin: 0; display: inline-block">REGISTROS DE MANTENIMIENTO</h5>
        </div>
        {% for item in maintenance %}
            <table class="tabContent" style="border-radius: 15px">
                <tr style="border-bottom: none">
                    <th style="border: none"><b>N° de Mantenimiento: </b></th>
                    <th style="border: none"><b>Fecha: </b></th>                    
                    <th style="border: none" colspan="2"><b>Realizado por: </b></th>
                </tr>
                <tr style="border-top: none; border-bottom: none">
                    <td style="border: none">{{ item.maintenance_number }} - <span style="color: #e52d27; font-weight: bold">{{ item.maintenance_type }}</span></td>
                    <td style="border: none">{{ item.date_maintenance }}</td>                    
                    <td style="border: none" colspan="2">{{ item.made_by }}</td>
                </tr>
                <tr style="border-bottom: none; border-top: none">
                    <th style="border: none" colspan="4"><b>Detalle del Mantenimiento:</b></th>
                </tr>
                <tr style="border-top: none; border-bottom: none">
                    <td style="border: none; text-align: justify" colspan="4">{{ item.description_maintenance }}</td>
                </tr>
                <tr style="border-bottom: none; border-top: none">
                    <th style="border: none" colspan="4"><b>Piezas o Partes Reemplazadas:</b></th>
                </tr>
                <tr style="border-top: none">
                    <td style="text-align: justify" colspan="4">{{ item.chances_pieces }}</td>
                </tr>
            </table>
            <br>
        {% endfor %}
    {% endif %}

    {% if calibration_count > 0 %}
        <div class="card">
            <h5 style="margin: 0; display: inline-block">CALIBRACIONES</h5>
        </div>
        {% for cal in calibration %}
            <table class="tabContent" style="border-radius: 15px">
                <tr style="border-bottom: none">
                    <th style="border: none"><b>Fecha: </b></th>
                    <th style="border: none"><b>Realizado por: </b></th>
                    <th style="border: none"><b>N° de Certificado: </b></th>
                    <th style="border: none"><b>Próxima Calibración: </b></th>
                </tr>
                <tr style="border-top: none; border-bottom: none">
                    <td style="border: none">{{ cal.date_calibration | date:'Y-m-d' }}</td>
                    <td style="border: none">{{ cal.calibration_made_by }}</td>
                    <td style="border: none">{{ cal.certificate_number }}</td>
                    <td style="border: none">{{ cal.date_calibration_next | date:'Y-m-d' }}</td>
                </tr>
                <tr style="border-bottom: none; border-top: none">
                    <th style="border: none" colspan="4"><b>Observaciones:</b></th>
                </tr>
                <tr style="border-top: none">
                    <td style="border: none; text-align: justify" colspan="4">{{ cal.comments_calibration }}</td>
                </tr>
            </table>
            <br>
        {% endfor %}


    {% endif %}


{% endblock %}