{% extends 'body.html' %}
{% load static %}

{% block head %}

    <script src="{% static 'lib/material-dashboard-pro-html-v1.1.0/assets/js/jquery-3.1.1.min.js' %}"></script>
    <script src="{% static 'lib/material-dashboard-pro-html-v1.1.0/assets/js/jquery.datatables.js' %}"></script>

{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-{{ div }}">
            <div class="card">
                <div class="card-header card-header-icon" data-background-color="rose">
                    <i class="material-icons">display_settings</i>
                </div>
                <div class="card-content">
                    <h4 class="card-title">{{ entity }}</h4>
                    <div class="row">
                        <div class="card-content">
                            <ul class="nav nav-pills nav-pills-warning">
                                <li class="active">
                                    <a href="#pill1" data-toggle="tab">Generalidades</a>
                                </li>
                                <li>
                                    <a href="#pill2" data-toggle="tab">Mantenimientos</a>
                                </li>
{#                                <li>#}
{#                                    <a href="#pill3" data-toggle="tab">Cambio de Piezas</a>#}
{#                                </li>#}
                            </ul>
                            <div class="tab-content">
                                <div class="tab-pane active" id="pill1">
                                    <div class="row">
                                        <div class="col-md-1">
                                            <p class="description">Código</p>
                                            {{ object.code }}
                                        </div>
                                        <div class="col-md-3">
                                            <p class="description">Descripción</p>
                                            {{ object.description }}
                                        </div>
                                        <div class="col-md-2">
                                            <p class="description">Fabricante</p>
                                            {{ object.maker }}
                                        </div>
                                        <div class="col-md-2">
                                            <p class="description">Serial</p>
                                            {{ object.serial }}
                                        </div>
                                        <div class="col-md-2">
                                            <p class="description">Fecha de Ingreso</p>
                                            {{ object.date_entry }}
                                        </div>
                                        <div class="col-md-2">
                                            <p class="description">Tiempo de Uso</p>
                                            {{ object.use_time }} años
                                        </div>
                                    </div>
                                    <br>
                                    <div class="row">
                                        <div class="col-md-2">
                                            <p class="description">Mantenimiento</p>
                                            Cada {{ object.frequency_maintenance }} meses
                                        </div>
                                        <div class="col-md-2">
                                            <p class="description">Estado</p>
                                            {% if object.status == True %}
                                                En Servicio
                                            {% else %}
                                                Fuera de Servicio
                                            {% endif %}
                                        </div>
                                        <div class="col-md-1">
                                            <p class="description">Activo Fijo</p>
                                            {{ object.fix_active }}
                                        </div>
                                        <div class="col-md-2">
                                            <p class="description">Fecha de Ingreso</p>
                                            {{ object.date_entry }}
                                        </div>
                                        <div class="col-md-2">
                                            <p class="description">Calibración</p>
                                            {% if object.calibration == True %}
                                                Requiere
                                            {% else %}
                                                No Requiere
                                            {% endif %}
                                        </div>
                                        {% if object.calibration == True %}
                                            <div class="col-md-2">
                                                <p class="description">Frecuencia Calibración</p>
                                                Cada {{ object.frequency_calibration }} meses
                                            </div>
                                        {% endif %}
                                    </div>
                                    <br>
                                    <div class="row">
                                        {% if object.manufacturer_manual %}
                                            <div class="col-md-2">
                                                <a href="/equipment/manufacturer_manual?id={{ object.id }}&type=manufacturer_manual" type="button" class="btn btn-rose btn-round" target="_blank">
                                                    Manual Fabricante
                                                </a>
                                            </div>
                                        {% endif %}
                                        {% if object.manufacturer_docs %}
                                            <div class="col-md-2">
                                                <a href="/equipment/manufacturer_docs?id={{ object.id }}&type=manufacturer_docs" type="button" class="btn btn-rose btn-round" target="_blank">
                                                    Documentos Anexos
                                                </a>
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="tab-pane" id="pill2">
                                    <div class="material-datatables">
                                        <table id="data" class="table table-striped table-no-bordered table-hover"
                                               style="width:100%">
                                            <thead style="font-size: 9pt; font-weight: bold">
                                            <tr>
                                                <th class="text-center" style="width:10%; font-weight: 600">N°</th>
                                                <th class="text-center" style="width:10%; font-weight: 600">Fecha</th>
                                                <th class="text-center" style="width:10%; font-weight: 600">Tipo</th>
                                                <th class="text-center" style="width:30%; font-weight: 600">Realizado
                                                    por
                                                </th>
                                                <th class="text-center" style="width:20%; font-weight: 600">
                                                    Contratista
                                                </th>
                                                <th class="text-center" style="width:10%; font-weight: 600">Registros
                                                </th>
                                                <th class="text-center" style="width:10%; font-weight: 600">Acciones
                                                </th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            {% for item in maintenance %}
                                                <tr>
                                                    <td>{{ item.maintenance_number }}</td>
                                                    <td>{{ item.date_maintenance | date:'Y-m-d' }}</td>
                                                    <td>{{ item.maintenance_type }}</td>
                                                    <td>{{ item.made_by.get_full_name }}, {{ item.made_by.cargo }}</td>
                                                    <td>{{ item.contractor }}</td>
                                                    <td>
                                                        {% if item.physical_record %}
                                                        <a title="Descargar Registro Físico" target="_blank" class="btn btn-simple btn-rose btn-icon" href="/maintenance/physical_record?id={{ item.id }}&type=physical_record">
                                                            <i class="material-icons">file_download</i></a>
                                                        {% else %}
                                                            <i class="material-icons">not_interested</i>
                                                        {% endif %}
                                                    </td>
                                                    <td>
                                                        <a title="Detalle Mantenimiento" target="_blank" onclick="open_modal_two('/maintenance/detail_equipment/{{ item.id }}')" class="btn btn-warning btn-xs btn-just-icon btn-simple"><i class="material-icons">dvr</i></a>
                                                        <a title="Descargar" target="_blank" onclick="" class="btn btn-danger btn-xs btn-just-icon btn-simple"><i class="material-icons">picture_as_pdf</i></a>
                                                    </td>
                                                </tr>
                                            {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
{#                                <div class="tab-pane" id="pill3">#}
{#                                    Completely synergize resource taxing relationships via premier niche markets.#}
{#                                    Professionally cultivate one-to-one customer service with robust ideas.#}
{#                                    <br/>#}
{#                                    <br/>Dynamically innovate resource-leveling customer service for state of the art#}
{#                                    customer service.#}
{#                                </div>#}
                            </div>
                        </div>

                    </div>
                    <br>
                    <div class="card-footer text-left">
                        <a href="{{ list_url }}" class="btn btn-default btn-fill">
                            <i class="material-icons">arrow_back</i>
                            Atrás
                        </a>
                        <a href="{{ list_url }}" class="btn btn-primary btn-fill">
                            <i class="material-icons">picture_as_pdf</i>
                            Descargar
                        </a>
                    </div>
                </div>
        </div>
        </div>
    </div>

    <script type="application/javascript">

        $(document).ready(function () {
            $('#data').DataTable({
                responsive: false,
                autoWidth: false,
                order: [[6, 'desc']],
                destroy: true,
                deferRender: true,
                language: {
                    url: "//cdn.datatables.net/plug-ins/1.10.21/i18n/Spanish.json"
                 },
                columnDefs:[
                    {
                        targets: [0, 1, 2, 3, 4, 5, 6],
                        class: 'td-actions text-center'
                    },
                ],
            });
        });

    </script>


{% endblock %}