{% extends 'list.html' %}
{% load static %}

{% block head_list %}

    <script src="{% static 'list_equipment.js' %}"></script>

{% endblock %}

{% block card_title %}

    <div class="card-header card-header-icon" data-background-color="rose">
        <i class="material-icons">list</i>
    </div>

{% endblock %}

{% block columns %}
    <th class="text-md-center" style="width:50%; font-weight: 600">Descripción</th>
    <th class="text-md-center" style="width:15%; font-weight: 600">Serial</th>
    <th class="text-md-center" style="width:10%; font-weight: 600">Activo Fijo</th>
    <th class="text-md-center" style="width:10%; font-weight: 600">Estado</th>
    <th class="text-md-center" style="width:15%; font-weight: 600">Acciones</th>
{% endblock %}

{% block rows %}

{% endblock %}

{% block javascript %}


{% endblock %}