{% extends 'list.html' %}
{% load static %}

{% block head_list %}

    <script src="{% static 'list_user.js' %}"></script>

{% endblock %}

{% block card_title %}

    <div class="card-header card-header-icon" data-background-color="rose">
        <i class="material-icons">people_alt</i>
    </div>

{% endblock %}

{% block columns %}
    <th class="text-md-center" style="width:22%; font-weight: 600">Nombre Completo</th>
    <th class="text-md-center" style="width:8%; font-weight: 600">Usuario</th>
    <th class="text-md-center" style="width:15%; font-weight: 600">Cargo</th>
    <th class="text-md-center" style="width:15%; font-weight: 600">Rol</th>
    <th class="text-md-center" style="width:15%; font-weight: 600">Email</th>
    <th class="text-md-center" style="width:10%; font-weight: 600">Estado</th>
    <th class="text-md-center" style="width:15%; font-weight: 600">Acciones</th>
{% endblock %}

{% block rows %}

{% endblock %}

{% block javascript %}


{% endblock %}